@import './responsive';
@import './variables';

.dataTable {

    @include xxl {
        width: 80vw;
    }
    @include xl {
        width: 80vw;
    }
    @include lg {
        width: 80vw;
    }
    @include md {
        width: 70vw;
    }
    @include sm {
        width: 60vw;
    }
    @include xs {
        width: 200px;
    }

    .dataGrid {
        background-color: white;

        .MuiDataGrid-toolbarContainer {
            flex-direction: row-reverse;

            
        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        .true {
            color: green;
        }

        .false {
            color : red
        }

        .action {
            display: flex;
            gap: 10px;
            align-items: center;
    
            .edit , .delete {
                cursor: pointer;
            }
    
            .edit {
                color: limegreen;
            }
    
            .delete {
                color: tomato;
            }
        }
    }
}